{% extends "layouts/page.html" %}

{% block content %}
<!-- Navbar -->
<nav class="navbar-top">
  <div class="nav-wrapper container-bs">

    <!-- Logo -->
    <a href="index.html" class="brand-logo">
      <img src="assets/_con/images/logo.png" alt="Con">
    </a>
    <!-- /Logo -->
    
    <ul>
      <li>
        <a class="btn white-text" href="http://themeforest.net/item/con-material-admin-dashboard-template/10621512?ref=_nK"><i class="mdi-file-cloud-download left"></i>Download</a>
      </li>
    </ul>

  </div>
</nav>
<!-- /Navbar -->

<!-- Hero Section -->
<div class="parallax-container valign-wrapper mt-50">
  <div class="parallax"><img src="assets/_con/images/promo-hero.jpg"></div>
  <div class="container-bs center-align white-text">
    <h1><strong>Con</strong> - Material Admin Dashboard</h1>
    <h3 class="h4 mt-50 mb-40">Powerful admin template. The main feature - is ready for development kit with Gulp, SASS, Bower, etc...</h3>
    <a class="btn m-10 white black-text" href="dashboard.html"><i class="mdi-action-visibility left"></i>Main Demo</a>
    <a class="btn m-10" href="http://nk.ticksy.com"><i class="mdi-action-help left"></i>Support</a>
  </div>
</div>
<!-- /Hero Section -->

<!-- Demo -->
<div class="promo-container">
  <div class="container-bs">
    <h2 class="promo-title">Demo</h2>
    <div class="row">
      <div class="col l4">
        <a href="dashboard.html" target="_blank" class="card medium z-depth-3-hover">
          <div class="card-image">
            <img src="assets/_con/images/promo-screen.jpg">
          </div>
          <div class="content">
            <span class="card-title grey-text text-darken-4">Dashboard</span>
          </div>
        </a>
      </div>
      <div class="col l4">
        <a href="dashboard-v1.html" target="_blank" class="card medium z-depth-3-hover">
          <div class="card-image">
            <img src="assets/_con/images/promo-screen-v1.jpg">
          </div>
          <div class="content">
            <span class="card-title grey-text text-darken-4">Dashboard v1</span>
          </div>
        </a>
      </div>
      <div class="col l4">
        <a href="angularjs" target="_blank" class="card medium z-depth-3-hover">
          <div class="card-image">
            <img src="assets/_con/images/promo-screen-angular.jpg">
          </div>
          <div class="content">
            <span class="card-title grey-text text-darken-4">AngularJS</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /Demo -->

<!-- Features -->
<div class="promo-container teal lighten-1 white-text">
  <div class="container-bs">
    <h2 class="promo-title">Why choose Con?</h2>
    <h3 class="promo-sub-title h5">The key features of template. More you can see in Demo</h3>

    <div class="row">
      <div class="col l4">
        <div class="promo-feature">
          <i class="fa fa-cogs large"></i>
          <h3>Development Kit</h3>
          Ready to use development kit with Gulp, SASS, Bower and Nunjucks templating make development easy.
        </div>
      </div>
      <div class="col l4">
        <div class="promo-feature">
          <i class="ion-social-angular large"></i>
          <h3>AngularJS</h3>
          Con is not only HTML5 admin template. Con is also AngularJS app.
        </div>
      </div>
      <div class="col l4">
        <div class="promo-feature">
          <i class="mdi-maps-layers large"></i>
          <h3>Material Design</h3>
          Trending Material Design components are ready to use due to Materialize.css library and Con additional features.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l4">
        <div class="promo-feature">
          <i class="mdi-image-palette large"></i>
          <h3>18 Color Schemes</h3>
          Choose one of 18 predefined color schemes, based on Material Design palettes.
        </div>
      </div>
      <div class="col l4">
        <div class="promo-feature">
          <i class="mdi-av-web large"></i>
          <h3>Over 16 Layouts</h3>
          You can use Boxed layout, change top navbar and sidebar positions.
        </div>
      </div>
      <div class="col l4">
        <div class="promo-feature">
          <i class="fa fa-bar-chart large"></i>
          <h3>Data visualization</h3>
          Includes Flot, Rickshaw, Sparkline and NVD3 charts libraries.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l4">
        <div class="promo-feature">
          <i class="mdi-action-shopping-cart large"></i>
          <h3>eCommerce</h3>
          Ready to use eCommerce pages.
        </div>
      </div>
      <div class="col l4">
        <div class="promo-feature">
          <i class="mdi-content-drafts large"></i>
          <h3>Mailbox</h3>
          Ready to use Mailbox layout.
        </div>
      </div>
      <div class="col l4">
        <div class="promo-feature">
          <i class="fa fa-globe large"></i>
          <h3>Additional Pages</h3>
          You got also Promo One page and pages line Screen Lock, Sign In, sign Up, etc...
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /Features -->

<!-- Support -->
<div class="promo-container">
  <div class="container-bs">
    <h2 class="promo-title">Do you have questions?</h2>
    <h3 class="promo-sub-title h5">Feel free to ask</h3>
    
    <div class="align-center">
      <a href="http://themeforest.net/item/con-material-admin-dashboard-template/10621512/comments?ref=_nK" class="btn btn-large btn-block teal mw-280">Ask Question</a>
    </div>
  </div>
</div>
<!-- /Support -->

<!-- Testimonials -->
<div class="promo-container deep-purple">
  <div class="container-bs">
    <h2 class="promo-title white-text">Testimonials</h2>
    <h3 class="promo-sub-title h5 white-text">What Con cusomers are saying</h3>

    <div class="row">
      <div class="col l4">
        <div class="promo-testimonial">
          <em>
            Great work done by the author, although there is not much in documentation, its structured at component level.
          </em>
          <div class="promo-testimonial-icon">
            <img src="assets/_con/images/promo-user-1.png">
          </div>
          <div class="promo-testimonial-foot">
            <strong>- Praney Behl</strong>
            <br>
            Con customer
          </div>
        </div>
      </div>
      <div class="col l4">
        <div class="promo-testimonial">
          <em>
            Best admin template i've used so far. Easy to edit, Easy to maintain. Very usefull template!
          </em>
          <div class="promo-testimonial-icon">
            <i class="mdi-editor-format-quote"></i>
          </div>
          <div class="promo-testimonial-foot">
            <strong>- jvkmedia</strong>
            <br>
            Con customer
          </div>
        </div>
      </div>
      <div class="col l4">
        <div class="promo-testimonial">
          <em>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </em>
          <a href="http://lipsum.com/" class="promo-testimonial-icon">
            <i class="mdi-content-link"></i>
          </a>
          <div class="promo-testimonial-foot">
            <strong>- Lorem Link</strong>
            <br>
            http://lipsum.com/
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Testimonials -->

<!-- Purchase -->
<div class="promo-container">
  <div class="container-bs">
    <h2 class="promo-title">Interested? Do not be late and buy Con for now.</h2>
    <h3 class="promo-sub-title h5">So many features just for $20</h3>
    
    <div class="align-center">
      <a href="http://themeforest.net/item/con-material-admin-dashboard-template/10621512?ref=_nK&license=regular&open_purchase_for_item_id=10621512&purchasable=source" class="btn btn-large btn-block deep-purple mw-280">Purchase Now</a>
    </div>
  </div>
</div>
<!-- /Purchase -->

<footer>
  <div class="container-bs align-center">
    © 2015 <strong>nK</strong>. All rights reserved.
  </div>
</footer>

{% endblock %}