    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

    <!-- nanoScroller -->
    <link rel="stylesheet" type="text/css" href="bower_components/nanoscroller/bin/css/nanoscroller.css" />

    {% if plugins.fa_icons -%}
        <!-- FontAwesome -->
        <link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.min.css" />
    {%- endif %}

    {% if plugins.mdi_icons -%}
        <!-- Material Design Icons -->
        <link rel="stylesheet" type="text/css" href="assets/material-design-icons/css/material-design-icons.min.css" />
    {%- endif %}

    {% if plugins.ion_icons -%}
        <!-- IonIcons -->
        <link rel="stylesheet" type="text/css" href="bower_components/ionicons/css/ionicons.min.css" />
    {%- endif %}

    {% if plugins.wi_icons -%}
        <!-- WeatherIcons -->
        <link rel="stylesheet" type="text/css" href="bower_components/weather-icons/css/weather-icons.min.css" />
    {%- endif %}

    {% if plugins.rickshaw -%}
        <!-- Rickshaw -->
        <link rel="stylesheet" type="text/css" href="bower_components/rickshaw/rickshaw.min.css" />
    {%- endif %}

    {% if plugins.nvd3 -%}
        <!-- nvd3 -->
        <link rel="stylesheet" type="text/css" href="bower_components/nvd3/build/nv.d3.min.css" />
    {%- endif %}

    {% if plugins.markitup -%}
        <!-- MarkItUp -->
        <link href="assets/_con/markitup/skins/_con/style.css" rel="stylesheet" type="text/css" />
        <link href="bower_components/markitup-1x/markitup/sets/default/style.css" rel="stylesheet" type="text/css" />
    {%- endif %}

    {% if plugins.squire -%}
        <!-- Squire -->
        <link href="assets/_con/squire/squire-ui.css" rel="stylesheet" type="text/css" />
    {%- endif %}

    {% if plugins.select2 -%}
        <!-- Select2 -->
        <link rel="stylesheet" type="text/css" href="bower_components/select2/dist/css/select2.min.css" />
    {%- endif %}

    {% if plugins.dropzone -%}
        <!-- Drop Zone -->
        <link rel="stylesheet" type="text/css" href="bower_components/dropzone/dist/min/dropzone.min.css" />
    {%- endif %}

    {% if plugins.tagsinput -%}
        <!-- Tags Input -->
        <link rel="stylesheet" type="text/css" href="bower_components/jquery.tagsinput/src/jquery.tagsinput.css" />
    {%- endif %}

    {% if plugins.clockpicker -%}
        <!-- Clockpicker -->
        <link rel="stylesheet" type="text/css" href="bower_components/clockpicker/dist/jquery-clockpicker.min.css" />
    {%- endif %}

    {% if plugins.pikaday -%}
        <!-- Pikaday -->
        <link rel="stylesheet" type="text/css" href="bower_components/pikaday/css/pikaday.css" />
    {%- endif %}

    {% if plugins.spectrum -%}
        <!-- Spectrum -->
        <link rel="stylesheet" type="text/css" href="bower_components/spectrum/spectrum.css" />
    {%- endif %}

    {% if plugins.jvectormap -%}
        <!-- jvectormap -->
        <link rel="stylesheet" type="text/css" href="assets/jquery-jvectormap/jquery-jvectormap.css" />
    {%- endif %}

    {% if plugins.fullcalendar -%}
        <!-- Full Calendar -->
        <link rel="stylesheet" type="text/css" href="bower_components/fullcalendar/dist/fullcalendar.min.css" />
    {%- endif %}

    {% if plugins.animatecss -%}
        <!-- Animate.css -->
        <link rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.min.css" />
    {%- endif %}

    {% if plugins.photoswipe -%}
        <!-- PhotoSwipe -->
        <link rel="stylesheet" type="text/css" href="bower_components/photoswipe/dist/default-skin/default-skin.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/photoswipe/dist/photoswipe.css" />
    {%- endif %}

    {% if plugins.videojs -%}
        <!-- Video.js -->
        <link rel="stylesheet" type="text/css" href="bower_components/video.js/dist/video-js/video-js.min.css" />
    {%- endif %}

    {% if plugins.jstree -%}
        <!-- jsTree -->
        <link rel="stylesheet" type="text/css" href="assets/_con/jstree/style.min.css" />
    {%- endif %}

    <!-- Main -->
    <link rel="stylesheet" type="text/css" href="assets/_con/css/con-base{{ '.min' if ENV == 'production' }}.css" />

    <!--[if lt IE 9]>
        <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->